.container {
    text-align: center;
    background-color: deepskyblue;
    border-radius : 50%;
}

.status {
    color: black;
    font-size: 32px; /* 글자 크기를 키웁니다 */
    font-weight: bold;
    margin-bottom: 20px; /* 아래 여백 추가 */
    margin-top: 100px; /* 위 여백 추가 */
}

.new {
    color: red; /* New 상태일 때 빨간색 */
    font-size: 24px; /* 글자 크기를 Status보다 작게 설정 */
    margin-bottom: 200px; /* 아래 여백 추가 */
    cursor: pointer;
}

.working {
    color: yellow; /* Working 상태일 때 노란색 */
    font-size: 24px; /* 글자 크기를 Status보다 작게 설정 */
    margin-bottom: 200px; /* 아래 여백 추가 */
    cursor: pointer;
}

.closed {
    color: green; /* Closed 상태일 때 초록색 */
    font-size: 24px; /* 글자 크기를 Status보다 작게 설정 */
    margin-bottom: 200px; /* 아래 여백 추가 */
    cursor: pointer;
}
